<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="d-flex flex-grow-1">
    <a class="navbar-brand" routerLink="/home">
      <fa-icon [icon]="iconLogo"></fa-icon> Feed Me
    </a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" [attr.aria-expanded]="navbarOpen" aria-label="Toggle navigation"
        (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarDefault" [ngClass]="{ 'show': navbarOpen }">

    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item" *ngIf="(isAuthenticated$ | async)">
        <a class="nav-link" routerLink="/recipes" [routerLinkActive]="['active']" (click)="closeMenu()">
          <fa-icon [icon]="iconRecipe"></fa-icon> Recipes
        </a>
      </li>

      <li ngbDropdown class="nav-item" *ngIf="(isAuthenticated$ | async)">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>
          <fa-icon [icon]="iconMyAccount"></fa-icon> My Account
        </a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="navigate('/profile')">
            Profile
          </button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="logOut()">
            Log Out
          </button>
        </div>
      </li>
    </ul>

    <div class="d-flex" *ngIf="(isAuthenticated$ | async) === false">
      <button class="btn btn-primary" type="submit" (click)="logIn()">
        <fa-icon [icon]="iconMyAccount"></fa-icon>
        My Account
      </button>
    </div>
  </div>
</nav>

<main role="main">
  <app-notify></app-notify>
  <router-outlet></router-outlet>
</main>