<header>
  <mat-toolbar color="primary">
    <span>Feed Me</span>
    <span class="spacer"></span>
    <button mat-button (click)="auth.loginWithRedirect()" *ngIf="(auth.isAuthenticated$ | async) === false">
      <mat-icon>account_circle</mat-icon> My Account
    </button>
    <a routerLink="/recipes" mat-button *ngIf="auth.isAuthenticated$ | async">
      <mat-icon>account_circle</mat-icon> Recipes
    </a>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="auth.isAuthenticated$ | async">
      <mat-icon>account_circle</mat-icon> My Account
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/profile" mat-menu-item>Profile</a>
      <button mat-menu-item (click)="auth.logout()">Log Out</button>
    </mat-menu>
  </mat-toolbar>
</header>

<main class="footer-spacer">
  <router-outlet></router-outlet>
</main>