<section class="container" *ngIf="recipe">

  <h1>
    {{ recipeTitle }}
  </h1>

  <form [formGroup]="form" class="validate-form" [ngClass]="{ 'submitted-form': submitted }" novalidate>
    <fieldset [disabled]="!isInEditMode">

      <div class="mb-3">
        <label for="title" class="form-label">Title <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="title" />
        <div class="text-danger" *ngIf="showErrors('title')">
          <span *ngIf="title?.errors?.required">
            Title is required.
          </span>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" formControlName="description" rows="5"></textarea>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category <span class="text-danger">*</span></label>
        <select class="form-select" formControlName="category">
          <option value="Breakfast">Breakfast</option>
          <option value="Brunch">Brunch</option>
          <option value="Lunch">Lunch</option>
          <option value="Appetizers">Appetizers</option>
          <option value="Dinner">Dinner</option>
          <option value="Dessert">Dessert</option>
          <option value="Snacks">Snacks</option>
          <option value="Drinks">Drinks</option>
        </select>
        <div class="text-danger" *ngIf="showErrors('category')">
          <span *ngIf="category?.errors?.required">
            Category is required.
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="servings" class="form-label">Servings <span class="text-danger">*</span></label>
          <input type="number" class="form-control" formControlName="servings" />
          <div class="text-danger" *ngIf="showErrors('servings')">
            <span *ngIf="servings?.errors?.required">
              Servings is required.
            </span>
            <span *ngIf="servings?.errors?.min">
              Servings must be greater than 1.
            </span>
          </div>
        </div>

        <div class="col">
          <label for="prepTime" class="form-label">Prep Time <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="prepTime" />
          <div class="text-danger" *ngIf="showErrors('prepTime')">
            <span *ngIf="prepTime?.errors?.required">
              Prep Time is required.
            </span>
          </div>
        </div>

        <div class="col">
          <label for="cookTime" class="form-label">Cook Time <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="cookTime" />
          <div class="text-danger" *ngIf="showErrors('cookTime')">
            <span *ngIf="cookTime?.errors?.required">
              Cook Time is required.
            </span>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm">
          <h5>Ingredients</h5>
          <div class="input-group mb-3" *ngIf="isInEditMode">
            <input type="text" class="form-control" #newIngredient>
            <button class="btn btn-outline-secondary" (click)="addIngredient(newIngredient)">Add</button>
          </div>
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action"
              *ngFor="let ingredient of ingredients.controls; let i = index"
              (click)="editFormControl(ingredient, 'ingredients')">
              {{ ingredient.value }}
            </button>
          </div>
        </div>

        <div class="col-sm">
          <h5>Steps</h5>
          <div class="input-group mb-3" *ngIf="isInEditMode">
            <input type="text" class="form-control" #newStep>
            <button class="btn btn-outline-secondary" (click)="addStep(newStep)">Add</button>
          </div>
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action"
              *ngFor="let step of steps.controls; let i = index" (click)="editFormControl(step, 'steps')">
              {{ i+1 }}.) {{ step.value }}
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

  <hr>

  <div class="button-row clearfix">
    <button class="btn btn-primary" (click)="saveRecipe()" *ngIf="isInEditMode">
      Save Recipe
    </button>

    <button class="btn btn-primary" (click)="editRecipe()" *ngIf="!isInEditMode">
      Edit Recipe
    </button>

    <button class="btn btn-outline-dark" (click)="cancelEditRecipe()" *ngIf="!isNewRecipe && isInEditMode">
      Cancel Edit
    </button>

    <button class="btn btn-danger float-end" (click)="deleteRecipe()" *ngIf="!isNewRecipe && isInEditMode">
      Delete Recipe
    </button>
  </div>

</section>