<section class="container">

  <div class="row">
    <div class="col">
      <h1>
        Recipes
      </h1>
    </div>
    <div class="col">
      <a [routerLink]="['/edit-recipes']" class="btn btn-sm btn-primary m-1 float-right">
        <fa-icon [icon]="iconAdd"></fa-icon> Add Recipe
      </a>
    </div>
  </div>

  <div class="alert alert-primary" role="alert" *ngIf="recipes && recipes.length === 0">
    It looks like you haven't saved any recipes. Let's <a [routerLink]="['/edit-recipes']" class="alert-link">get
      started</a>.
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 m-0" *ngFor="let recipe of recipes">
      <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </div>
  </div>
</section>