<section class="container">

  <div class="clearfix">
    <span class="display-5">{{ category }}</span>
    <a [routerLink]="['/edit-recipes']" class="btn btn-primary m-2 float-end">
      Add Recipe
    </a>
  </div>

  <div class="alert alert-primary" role="alert" *ngIf="recipes?.length === 0">
    It looks like you haven't saved any recipes. Let's <a [routerLink]="['/edit-recipes']" class="alert-link">get
      started</a>.
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="filter">Filter</span>
    <input type="text" class="form-control" name="filter" (keyup)="filterRecipes(filter.value)" #filter/>
  </div>

  <div class="w-100" *ngFor="let recipe of filteredRecipes">
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  </div>
</section>