<section class="container">
    <form [formGroup]="form" class="account-form validate-form"
        [ngClass]="{ 'submitted-form': verificationSubmitted }" novalidate>
        <h1>Reset Your Password</h1>

        <div class="alert alert-primary" role="alert">
            Enter your email, and we'll send you a verification code. 
            Enter the code below along with your new password.
        </div>

        <div class="form-group">
            <label for="email">E-mail <span class="text-danger">*</span></label>
            <input type="email" class="form-control" formControlName="email" required />
        </div>

        <div class="form-group">
            <label for="code">Verification Code <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="code" required />
        </div>

        <div class="form-group">
            <label for="password">Password <span class="text-danger">*</span></label>
            <input type="password" class="form-control" formControlName="password" required />
        </div>

        <div class="button-row">
            <button type="submit" class="btn btn-primary" (click)="onVerificationSubmit()">Send Verification Code</button>
        </div>
    </form>
</section>