html, body { 
    background-color: #efefef;
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.app-button-row button {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.app-card-margin {
    margin: 1rem;
}

.app-container {
    margin: auto;
    max-width: 1000px;
}

.app-form-container {
    margin: auto;
    max-width: 500px;
}

.app-form-field-full-width {
    width: 100%;
}

.app-full-width {
    width: 100%;
}

.app-spacer {
    flex: 1 1 auto;
}