@import './styles/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import './styles/bootswatch';

html,
body {
  min-height: 100vh;
  background-repeat: no-repeat;
}

body {
  padding-top: 5rem;
}

.button-row a,
button {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
