<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Confirm</h4>
  <button type="button" class="btn-close" aria-describedby="modal-title"
    (click)="modalService.modalRef.dismiss(false)"></button>
</div>
<div class="modal-body">
  <p>
    {{ modalService.message }}
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalService.modalRef.close(true)">
    {{ modalService.confirmText }}
  </button>
  <button type="button" class="btn btn-outline-secondary" (click)="modalService.modalRef.dismiss(false)">
    {{ modalService.denyText }}
  </button>
</div>